* {
	text-align: center;
}
h1 {
	font-size: 52px;
}
p {
	font-size: 14px;
	margin-bottom: 0px;
}
	.no-number p {
		margin-bottom: 15px;
	}
button {
	display: block;
	margin: 10px auto;
}
input[type="text"] {
	font-size: 14px;
	margin: 10px 10px;
}
#display-number {
	display: block;
	font-size: 50px;
}